body{
    line-height: 1;
}
div{
    display: block;
}

.icon-avt{
    bottom: 7px;
    height: 24px;
    left: 5px;
    position: absolute;
    width: 24px;
    z-index: 2;
}
.horizontalPost a .icon-avt{
    bottom: 7%;
    position: absolute;
    right: 5%;
}
.horizontalPost{
    display: inline-block;
    width: 100%;
}
.mb-20{
    margin-bottom: 20px;
}
.horizontalPost__avt.avt-140
{
    max-width: 140px;
}
.horizontalPost__avt{
    float: left;
    margin-bottom: 5px;
    margin-right: 15px;
    width: 100%;
}
.horizontalPost__avt a{
    display: block;
    /* position: relative; */
    width: 100%;
}
.horizontalPost__avt a picture>img, .horizontalPost__avt a video, .horizontalPost__avt a>img
{
    object-fit: cover;
    /* position: absolute; */

}
img, svg{
    vertical-align: inherit;
}
.horizontalPost__main{

}
.horizontalPost__main-cate{
    /* display: none; */
    font-family: ;
    font-size: 13px;
    margin-bottom: 10px;
}
.horizontalPost__main-cate a{
    color:  #2d67ad;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.horizontalPost__main-title{
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 10px;
}
.horizontalPost__main-title a{
    color: #2a2a2a;
    text-decoration: none;
}